@font-face {
  font-family: "Norse bold";
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}
html, *{
  padding: 0;
  margin: 0;
  border: 0px;
  font-family: sans-serif;
  font-size: 16px;
}
html, body {
  height: 100%;
}
.container{
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.image-text{
  background: rgba(0,0,0,.4);
  font-family: "Norse bold";
  font-size: 7em;
  color: #ffffff;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
.image-text img{
  width: 15%;
  height: auto;
  vertical-align: middle;
}
.image-container{
  width: 45%;
  min-height: 100%;
  background: url(image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.signup-container{
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.signup-container > div{
 width: 100%;
}
.signup-container > .signup-description > p, .signup-container > .signup-form-container > p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.3em;
  width: 60%;
}
.signup-container > .signup-description{
  padding: 30px;
}
.signup-form-container{
  background: #ffffff;
  padding: 30px;
}
.signup-form-container > form > fieldset{
  display: flex;
}
.form-control{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-bottom: 15px;
  width: 20%;
}
.form-control label{
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 3px;
  color: #1F2937;
}
.form-control input{
  padding: 5px;
  border: 1px solid #EBEDF0;
  border-radius: 5px;
}
.signup-button{
  padding: 30px;
}
.signup-button button{
  background: #596D48;
  border-radius: 10px;
  padding: 15px 30px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 50px;
}
.signup-button p a{
  text-decoration: none;
  font-weight: bold;
  color: #596D48;
}
